
# ======================
# Datasets & Outputs
# ======================
datasets/*
runs/*
models/*

# Ignore old approach
old_approach/

# Logs
*.log
*.out
nohup*.out

# Models
*.pt
*.onnx

# Python
__pycache__/
*.pyc
.venv/
.env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

